<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		{% block title %} <title>Graffiti</title> {% endblock %}
		<meta http-equiv="Content-Language" content="English" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id="wrap">
			<div id="top" style="text-align:right; margin-right:50px;">
				{% block admin_nav %}
					{% if app.user %}
						<a href="{{ path('sonata_admin_dashboard') }}">Admin</a>
						<a href="{{ path('fos_user_security_logout') }}">Logout</a>
					{% else %}
						<a href="{{ path('sonata_admin_dashboard') }}">Login</a>
					{% endif %}
				{% endblock %}
			</div>
			
			<div id="content">
			
				<div class="header">
					<h1><a href="{{ path('_home') }}">Graffiti</a></h1>
					<h2>Shegrt Symfony application</h2>
				</div>
				
				<div class="middle">
							
				
					{% block body %}
					{% endblock %}
					
				 		
				</div>
						
				<div class="right">
						
					<h2>Navigation</h2>
					
					<ul>
						<li><a href="{{ path('_list_graffiti') }}">Graffiti</a></li>
						<li><a href="{{ path('_list_authors') }}">Authors</a></li>
					</ul>
						
				</div>
				
				<div id="clear"></div>
				
			</div>
			
			<div id="bottom">
				{% block related %}
				{% endblock %}
			</div>
			
			</div>
		
		<div id="footer">
			Design by <a href="http://www.minimalistic-design.net">Minimalistic Design</a>
		</div>
	</body>
</html>