{% extends '::base.html.twig' %}

{% block title %} <title>Graffiti Home</title> {% endblock %}

{% block body %}

	<h2>Template dummy text</h2>
				
	Just to fill out empty space in the template I decided to write this and to add one of my previous templates
	here. There are direct links to view one of my previous templates live and live link to download it also ;) 
	Anyway hope you like both this one and previous one. You can see all of my templates at 
	<a href="http://www.minimalistic-design.net">Minimalistic design</a> live.
	<br /><br />
	<img src="{{ asset('images/minimal.jpg') }}" alt="Preview of Minimalistic Template" />

{% endblock %}