{% extends '::base.html.twig' %}

{% block title %} <title>Create new graffiti</title> {% endblock %}

{% block body %}

	<h2>Create new graffit</h2>
	{{ form_start(form) }}
	    {{ form_errors(form) }}
		{{ form_row(form.name) }}
		{{ form_row(form.author) }}
		{{ form_row(form.year.year) }}
		<span style="display: none;">
			{{ form_row(form.year.month) }}
			{{ form_row(form.year.day) }}
		</span>
		{{ form_row(form.description) }}
		{{ form_row(form.location) }}
		{{ form_row(form.image) }}
		{{ form_row(form.save) }}
	{{ form_end(form) }}
				
{% endblock %}