{% extends '::base.html.twig' %}

{% block title %} <title>Author {{ author.name }}</title> {% endblock %}

{% block body %}
	<div>
		<h2>Display author {{ author.id }}</h2>
	</div>
	<div>			
	Name: {{ author.name }}
	</div>
	<div>			
	Nickname: {{ author.nickname }}
	</div>
		<div>			
	Description: {{ author.description }}
	</div>
	<div>
		Email: {{ author.email }}
	</div>
	<div>
		<a href="{% path author.image, 'big' %}"><img src="{% path author.image, 'small' %}"></a>
	</div>
{% endblock %}

{% block related %}
	<h4>Ostali graiti ovog autora: </h4>
	{% for graffiti in author.graffiti %}
	    <div>
        	<a href="{% path graffiti.image, 'big' %}"><img src="{% path graffiti.image, 'small' %}"></a>
        	<a href="{{ path( '_display_graffiti', {'id' : graffiti.id }) }}">{{ graffiti.name }}</a>
    	</div>
    {% endfor %} 
{% endblock %}
