{% extends '::base.html.twig' %}

{% block title %} <title>Graffiti {{ graffiti.name }}</title> {% endblock %}

{% block body %}
	<div>
		<h2>Display graffiti {{ graffiti.id }}</h2>
	</div>
	<div>			
		Name: {{ graffiti.name }}
	</div>
	<div>
		Year: {{ graffiti.year|date("Y") }}
	</div>
	<div> 
		Description: {{ graffiti.description }}
	</div>
	<div>
		<a href="{% path graffiti.image, 'big' %}"><img src="{% path graffiti.image, 'big' %}"></a>
	</div>
	<div>
		{% for image in graffiti.gallery.galleryhasmedias %}
			{% if image.enabled %}
				<a href="{% path image, 'big' %}"><img src="{% path image, 'small' %}"></a>
			{% endif %}
		{% endfor %} 
	</div>
	<div>
		    <h5><a href="{{ path( '_create_gallerymedia', {'id': graffiti.gallery.id}) }}">Add new image</a></h5>
	</div>
{% endblock %}



{% block related %}
	<h4>Autor/i: </h4>
	    {% for author in graffiti.author %}
		    <div>
	        	<a href="{{ path( '_display_author', {'id' : author.id }) }}">{{ author.name }}</a>
	    	</div>
    	{% endfor %}   
{% endblock %}
