{% extends '::base.html.twig' %}

{% block title %} <title>List authors</title> {% endblock %}

{% block body %}
	<h4> Autori: </h4>
	{% for author in authors %}
	    <div>
        	<a href="{{ path( '_display_author', {'id' : author.id }) }}">{{ author.name }}</a>
    	</div>
    {% endfor %}
{% endblock %}