{% extends '::base.html.twig' %}

{% block title %} <title>List Graffiti</title> {% endblock %}

{% block body %}
	<h4>Graffiti: </h4>
	{% for graffiti in graffitis %}
	    <div>
	    	<a href="{{ path( '_display_graffiti', {'id' : graffiti.id }) }}"><img src="{% path graffiti.image, 'small' %}"></a>
        	<a href="{{ path( '_display_graffiti', {'id' : graffiti.id }) }}">{{ graffiti.name }}</a>
    	</div>
    {% endfor %}  
{% endblock %} 
{% block related %}
    <h5><a href="{{ path( '_create_graffiti' ) }}">Create bew graffiti</a></h5>
{% endblock %}